<DL>
    <DT><H3>network</H3></DT>
    <DL>
        <DT><H3>tools</H3></DT>
        <DL>
            <DT><A href="http://theta.lan/cgi-bin/luci/admin/network/dhcp">dhcp</A></DT>
            <DT><A href="http://theta.lan/cgi-bin/luci/admin/speed/speedtest">openspeedtest</A></DT>
            <DT><A href="https://packetlosstest.com/">packetlosstest</A></DT>
        </DL>
        <DT><A href="http://mini.lan:8080">speedifyui</A></DT>
        <DT><A href="http://theta.lan" icon_uri="https://192.168.1.1/luci-static/icon/favicon-32x32.png">_theta</A></DT>
        <DT><A href="http://gamma.lan">_gamma</A></DT>
        <DT><A href="http://rho.lan">_rho</A></DT>
        <DT><A href="http://tplinkeap.net">tplinkeap</A></DT>
        <DT><A href="http://pihole.lan/admin/">tplinkeap</A></DT>

        <DT><A href="http://192.168.1.166:8006" icon_url="https://192.168.1.166:8006/pve2/images/logo-128.png">pve</A></DT>
        <DT><A href="http://192.168.1.197" icon_url="http://192.168.1.197/favicon.ico">homerun</A></DT>
    </DL>
</DL>